<div class="main-villain">
    <h2>Students</h2>
    <div>
      <label for="new-villain">Add Student Name</label>
      <input type="text" id="new-villain" #studentName/>
      <button
        type="button"
        class="add-button"
        (click)="addStudent(studentName.value); studentName.value = ''"
        >
        Add Villain
      </button>
      <hr>
    </div>

    <label for="new-villain">Search Student</label>
      <input 
      (input)="searchStudent(searchStud.value)"
      type="text" id="new-villain" #searchStud/>

    <ul class="villains">
      <li *ngFor="let item of students">
        <!-- <a(click)="navigateStudent(item.id) "routerLink="?detail/{{item.id}}" -->
          <a (click)="navigateStudent(item.id)">
             <span class="badge"> {{ item.id }}</span> {{ item.name }}
          </a>
        <button type="button" class="delete" title="delete" (click)="removeStudents(item)"> x </button>
      </li>
    </ul>
  </div>
